<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>music project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="style" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>

img{


  object-fit: cover;
  width: 100%;
}
a { color: inherit; }

div.element {
	padding:3rem;

}

.previous {
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  width: 80px;
  margin-left: auto;
margin-right: auto;

}
</style>
<body>
  
<header class="intro-header" style="background-image: url('static/img/bgimg.jpg'); background-repeat: no-repeat; background-size: cover  ">

<div class="container text-center">


<div class="element">
	<font size="10" style="color: rgb(243, 205, 80);"><strong>基本動做練習(三)<strong></font>
</div>
<div class="element" style="margin-bottom: 3 rem;">
	<img width="320" height="300" src="{{ url_for('static', filename='img/慢抖音練習.gif') }}"></img>
</div>
<div class="element">
	<font size="5">
  		抖音訓練--敲門＋毛毛蟲
	</font>

</div>
<div class="previous">
	<a href="javascript:history.back()">&laquo;回上一頁</a>
	<a href="/menu">回主選單</a>
</div>
</div>

	
	  <hr class="my-4">

  </div>
	
</body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>


<script>
	/*
	var playButtonElement = document.getElementById("play_button");
	playButtonElement.addEventListener("click", function() {
        var audio = document.getElementById("audio");
        audio.play();
	});

	*/


	var season1_btn = document.getElementById("season1_btn");
	console.log(season1_btn);
	season1_btn.addEventListener("click", function(){
		
		var nav_element = document.getElementById("nav_bar");
		nav_element.classList.toggle('bg-primary');
		nav_element.classList.toggle('bg-danger');

		var btn_elements = document.getElementsByClassName("element");
		btn_elements.forEach(function(element, index, array){ 
			alert("hi");


		})




	}

);

</script>

