<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>music project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="style" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>

img{
  object-fit: cover;
  width: 100%;
}
a { color: inherit; }

div.element {
	padding:5rem;

}
.box{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: antiquewhite;
  padding: 70px 0;
  margin-bottom: 1rem;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>
  
<header class="intro-header" style="background-image: url('static/img/bgimg.jpg'); background-repeat: no-repeat; background-size: cover  ">

<div class="container text-center">


<div class="element">
	<font size="10" style="color: rgb(243, 205, 80);"><strong>長弓練習<strong></font>
</div>

	<img width="320" height="300" src="{{ url_for('static', filename='img/A4.jpg') }}" id = "hiddenimageid"></img>

<div>
	<font size="3" >一音一弓，一弓四拍</font>
</div>
<!-- <div style="margin-bottom: 3 rem;">
	<a   onclick="ExecPythonCommand('play_sound()')">
	<font size="3" style="text-decoration:underline;" >開始練習</font>
	</a>
</div> -->
<button id="btnPlay">
  <svg style="width: 32px; height: 32px;vertical-align: middle;" viewBox="0 0 1024 1024" version="1.1"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M196.394461 103.235223 196.394461 920.764777 827.604516 535.079648Z"></path>
  </svg>
</button>
<button id="btnStop">
  <svg style="width: 32px; height: 32px;vertical-align: middle;" viewBox="0 0 1024 1024" version="1.1"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M256 256l512 0 0 512-512 0z"></path>
  </svg>
</button>
<div class="element">
<div class="previous">
	<a href="javascript:history.back()">&laquo;回上一頁</a>
</div>
</div>
	  <hr class="my-4">
</div>

</body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>


<script>
document.addEventListener("DOMContentLoaded", function () {

  let speed = 60, //节拍速度
  arrClick = [],  //测速时每次点击的速度组成的数组，节拍速度取其平均值
  clickTime = 0,  //测速点击计时器，超过 3 秒清空数组
  s = Date.now(), //记录每一次点击的时间，下一次点击时与此时间的间隔，来计算速度
  time = 0,   //play 过程 timeout 变量
  isPlay = false, //是否正在播放
  speedMsg = document.getElementById("speed"),    //页面正中间显示速度值的元素
  rangeValue = document.getElementById("rangeValue"), //滑块元素
  showSpeed = () => rangeValue.value = speedMsg.innerText = speed; 

  function ExecPythonCommand(pythonCommand){
    var request = new XMLHttpRequest()
    request.open("GET", "/" + pythonCommand, true)
    request.send()
  }

  let playsound = () => {
    ExecPythonCommand('play_sound()');
  } 
  document.getElementById("btnPlay").addEventListener("click", function () {
    isPlay = true;
    console.log("clicked")
    play();
    this.style.display = "none";
    document.getElementById("btnStop").style.display = "inline-block";
    start_play()
  });


  document.getElementById("btnStop").addEventListener("click", function () {
    window.clearTimeout(time);
    isPlay = false;
    this.style.display = "none";
    document.getElementById("btnPlay").style.display = "inline-block";
    stop_play();
  });

  let play = () => {
    window.clearTimeout(time);
    playsound();
    if (isPlay){
        time = window.setTimeout(play, Math.floor(60000 / speed));
    }
  };
})

var animations ="{{ url_for('static', filename='img/longbow2.gif') }}";

var img =  "{{ url_for('static', filename='img/A4.jpg') }}";

function start_play() {
  image = document.getElementById('hiddenimageid');
  image.src = animations;
}

function stop_play() {
  image = document.getElementById('hiddenimageid');
  image.src = img;
}

</script>